.prize-wrap {
  height: 100%;
  width: 10vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
.prize-list {
  //height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.prize-item {
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  flex-wrap: nowrap;
  background-color: rgba(0, 127, 127, 0.37);
  border: 1px solid rgba(127, 255, 255, 0.25);
  color: rgba(127, 255, 255, 0.75);
  width: 80%;
  height: 80px;
  box-sizing: border-box;
  transition: transform 1s ease-in;
  cursor: pointer;
  //margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }

  .prize-item-left {
    width: 60px;
    margin-right: 10px;

    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: block;
    }
  }

  .prize-item-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .prize-item-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .prize-item-name {

    }

    .prize-item-count {

    }
    .prize-item-count-wrap {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 15px;
      .prize-item-count-text {
        width: 100%;
        text-align: center;
        color: #fff;
        z-index: 10;
        font-weight: bold;
        line-height: 15px;
        //right: 10px;
        //margin-right: 5px;
      }
    }
    .progress {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      padding: 1px;
      overflow: visible;
      border-radius: 1vh;
      width: 100%;
      height: 100%;
    }

    .progress .progress-bar {
      border-radius: 1.8vh;
      position: relative;
      animation: animate-positive 2s;
      background-color: #d9534f;
      //height: 1.8vh;
      height: 100%;
      transition: width 0.6s ease;
    }
    .progress-bar.active {
      animation: reverse progress-bar-stripes 0.4s linear infinite,
      animate-positive 2s;
    }

    .progress-bar-striped {
      background-image: linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.15) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,
        transparent 75%,
        transparent
      );
      -webkit-background-size: 8px 8px;
      background-size: 8px 8px;
    }

    @keyframes animate-positive {
      0% {
        width: 0;
      }
    }

    @keyframes progress-bar-stripes {
      from {
        background-position: 8px 0;
      }

      to {
        background-position: 0 0;
      }
    }
  }

  &.shine {
    box-shadow: 0 0 15px 0 rgba(0, 255, 255, 0.5);
    transform: scale(1.1);
    transform-origin: left center;
    position: relative;
    overflow: hidden;
  }

  &.shine span {
    position: absolute;
    display: block;
  }

  &.shine span.line-1 {
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: animate1 1s linear infinite
  }

  @keyframes animate1 {
    0% {
      left: -100%;
    }
    50%, 100% {
      left: 100%;
    }
  }

  &.shine span.line-2 {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: animate2 1s linear infinite;
    animation-delay: .25s
  }

  @keyframes animate2 {
    0% {
      top: -100%;
    }
    50%, 100% {
      top: 100%;
    }
  }

  &.shine span.line-3 {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: animate3 1s linear infinite;
    animation-delay: .50s
  }

  @keyframes animate3 {
    0% {
      right: -100%;
    }
    50%, 100% {
      right: 100%;
    }
  }

  &.shine span.line-4 {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: animate4 1s linear infinite;
    animation-delay: .75s
  }

  @keyframes animate4 {
    0% {
      bottom: -100%;
    }
    50%, 100% {
      bottom: 100%;
    }
  }

  &.done {
    position: relative;
  }

  &.done:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
  }
}
