.lottery-music {
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 5;
  user-select: none;
}

.music-item {
  display: block !important;
  opacity: 0;
}

.music-box {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  background-color: rgba(253, 105, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.5);
}
